.button {
  display: inline-block;
  background-color: #b0a583;
  font-size: 20px;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.button i{
  margin-right: 10px;
}