.server {
  color: #fff;
  text-align: center;
  border-bottom: #EEE8BE 10px solid;
}

.server_img {
  margin-top: 50px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.component {
  position: relative;
  margin-top: 50px;
  font-size: 20px;
}

.component:before {
  content: '';
  position: absolute;
  top: 0;
  width: 7px;
  height: 100%;
  border-width: 3px 0 3px 3px;
  border-bottom-color: #EEE8BE;
  border-style: solid;
  border-radius: 5px;
}

.component:after {
  content: '';
  position: absolute;
  top: 0;
  width: 7px;
  height: 100%;
  border-width: 3px 3px 3px 0;
  border-bottom-color: #EEE8BE;
  border-style: solid;
  border-radius: 5px;
}

.component img {
  display: inline-block;
  width: 30px;
  margin-right: 20px;
  margin-left: 20px;
  vertical-align: top;
}

.component a {
  padding-top: 10px;
  margin-right: 15px;
}